<h1>Little Book of Contacts</h1>

<% @contacts.each do |contact| %>
  <h2>Your Contact: <%= contact.full_name %></h2>
  <h3>Phone #: <%= contact.phone_number %></h3>
  <h3>Email: <%= contact.email %></h3>
<% end %>

